/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'AeonikPro-Regular';
    src: url(../font/AeonikProTRIAL-Regular.otf);
}

@font-face {
    font-family: 'AeonikPro-Light';
    src: url(../font/AeonikProTRIAL-Light.otf);
}

@font-face {
    font-family: 'AeonikPro-Bold';
    src: url(../font/AeonikProTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

img {
    width: 100%;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
}

.hamburger_menu {
    display: inline-block;
    cursor: pointer;
    z-index: 999;
}

.bar1,
.bar2 {
    width: 64px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 12px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 7px);
    -ms-transform: rotate(-45deg) translate(-4px, 7px);
    transform: rotate(-45deg) translate(-4px, 7px);
}


.change .bar2 {
    -webkit-transform: rotate(45deg) translate(-4px, -7px);
    -ms-transform: rotate(45deg) translate(-4px, -7px);
    transform: rotate(45deg) translate(-4px, -7px);
}

.logo_wrapper {
    width: 150px;
}

.nav_menu {
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#panel2 {
    background: #f04d37;
    color: #00204a;
    /* transform: translate(-100%, 0%); */
    top: 0;
}

.hero_section {
    height: 100vh;
    position: relative;
    text-align: left;
    width: 100vw;
    background: #002049;
    /* transition: transform 5s; */
}

.hero-module-wrapper {
    color: #3665a2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 200vh;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
    position: relative;
    background: #f04d37;
}

.hero-module-wrapper h1 {
    font-size: 180px;
    font-family: 'AeonikPro-Light';
}

.hero-module--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: 1536px;
    padding: 0 3rem;
    width: 100%;
}

.fade-in-1 {
    -webkit-animation: fadeIn1 3s;
    animation: fadeIn1 3s;
}

.fade-in-2 {
    -webkit-animation: fadeIn1 4s;
    animation: fadeIn1 4s;
}

.fade-in-3 {
    -webkit-animation: fadeIn1 5s;
    animation: fadeIn1 5s;
}

.fade-in-4 {
    -webkit-animation: fadeIn1 6s;
    animation: fadeIn1 6s;
}

.fade-in-5 {
    -webkit-animation: fadeIn1 7s;
    animation: fadeIn1 7s;
}

.fade-in-6 {
    -webkit-animation: fadeIn1 8s;
    animation: fadeIn1 8s;
}

@-webkit-keyframes fadeIn1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.workHome--container {
    display: -ms-grid;
    display: grid;
    gap: 1px 1px;
        grid-template-areas: ". .";
    -ms-grid-columns: 40% 1px 60%;
    grid-template-columns: 40% 60%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    max-width: 1070px;
    position: relative;
}

.pan_image_wrapper {
    bottom: -9rem;
    left: -45%;
    max-width: 1400px;
    min-width: 600px;
    position: absolute;
    width: 200%;
    z-index: 1;
}

.pan_content {
    margin-bottom: 396px;
    z-index: 2;
}

.pan_content h2 {
    color: #002d66;
    font-size: 63px;
    font-family: 'AeonikPro-Bold';
    margin-bottom: 26px;
}

.pan_content p,
.description_default {
    color: #1a1a1a;
    line-height: 1.8;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 26px;
}

.workHome {
    background: #fff;
    padding: 100px 0 0;
    position: relative;
}

.link_btn span:after {
    background: currentColor;
    bottom: -.4rem;
    content: "";
    height: 2px;
    position: absolute;
    right: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    transition-property: opacity, -webkit-transform;
    -webkit-transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    width: 100%;
}

.link_btn span:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.link_btn span {
    color: #f04e37;
    display: inline-block;
    position: relative;
}

.link_btn {
    font-weight: 700;
    font-size: 22.5px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    -webkit-transition: -webkit-clip-path 275ms ease;
    transition: -webkit-clip-path 275ms ease;
    -o-transition: clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}

.servicesHome .servicesHome--container {
    display: -ms-grid;
    display: grid;
    gap: 1px 20px;
        grid-template-areas:
        ". .";
    -ms-grid-columns: 40% 20px auto;
    grid-template-columns: 40% auto;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    max-width: 1070px;
    position: relative;
}

.servicesHome--birds {
    height: 209px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -20%;
    width: 549px;
    z-index: 1;
    left: 100px;
}

.servicesHome--content h2 {
    color: #002d66;
    font-size: 108px;
    line-height: 1;
    margin-bottom: 2rem;
    font-family: 'AeonikPro-Bold';
}

.servicesHome--content p {
    color: #1a1a1a;
    line-height: 1.8;
}

.servicesHome--goose,
.servicesHome--gooseMobile {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.servicesHome {
    background-color: #f2f2f2;
    color: #002d66;
    padding: 220px 0;
    position: relative;
    overflow: hidden;
}

.servicesHome--goose {
    height: 660px;
    right: -35%;
    width: 952px;
}

.servicesHome--label h6 {
    color: #002049;
    font-family: 'Roboto', sans-serif;
    font-size: 1.11111rem;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.clientHome {
    background: #fff;
    padding: 75px 0;
    text-align: center;
}

.clientHome--container {
    margin: 0 auto;
    max-width: 1070px;
    min-height: 140px;
}

.clientHome h2 {
    color: #002d66;
    font-size: 36px;
    font-family: 'AeonikPro-Bold';
    margin-bottom: 26px;
}

.clientHome .clientHome--grid {
    display: -ms-grid;
    display: grid;
    gap: 0;
    -ms-grid-columns: 1fr 0 1fr 0 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 0 1fr 0 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 90px;
}

.clientHome .clientHome--grid>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.clientHome .clientHome--grid>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.clientHome .clientHome--grid>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.clientHome .clientHome--grid>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.clientHome .clientHome--grid>*:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.clientHome .clientHome--grid>*:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.clientHome .clientHome--grid>*:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.clientHome .clientHome--grid>*:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.clientHome .clientHome--grid>*:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

.clientHome .clientHome--grid .clientHome--imageContainer:first-child img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(2) img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(3) img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(4) img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(5) img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(6) img {
    border-bottom: 1px solid #d4d4d4;
}

.clientHome .clientHome--grid .clientHome--imageContainer:first-child img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(2) img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(4) img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(5) img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(7) img,
.clientHome .clientHome--grid .clientHome--imageContainer:nth-child(8) img {
    border-right: 1px solid #d4d4d4;
}

.start-poroject {
    background-color: #002049;
    color: #fff;
    padding: 144px 0;
    text-align: center;
}

.start-poroject--container {
    margin: 0 auto;
    max-width: 1070px;
    min-height: 140px;
}

.start-poroject h3 {
    font-size: 54px;
    margin-bottom: 3rem;
    font-family: 'AeonikPro-bold';
}

.start-poroject .start-poroject--btn {
    background-color: #f04e37;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.start-poroject .start-poroject--btn:hover {
    background-color: #fff;
    color: #f04e37;
}

footer {
    background: #1a1a1a;
    color: #fff;
    padding: 90px 0;
    text-align: center;
}

footer p {
    font-size: 16px;
}

.mobile--nav {
    margin: 0 auto;
    max-width: 2000px;
    padding: 198px 27px 0;
    width: 100%;
}

.nav_menu a.mobile_menu_link {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1;
    margin-left: 40px;
    margin: 0 64px 72px auto;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

#mobileMenuContainer {
    background-color: #3d3d3d;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    left: 0;
    min-height: 100vh;
    opacity: 0;
    overflow-x: hidden;
    position: fixed;
    text-align: right;
    top: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
    z-index: -1;
}

#mobileMenuContainer.open {
    opacity: 1;
    overflow: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 9;
}

.nav_menu a.mobile_menu_link:hover {
    color: silver;
}

.hidden {
    overflow: hidden;
}

.about--layout {
    background-color: #fff;
    padding: 10rem 0 4rem;
}

.white {
    background-color: rgb(255, 255, 255) !important;
}
.team{
    padding: 100px 0;
    background: #f2f2f2;
}
.team h3{
    font-size: 54px;
    margin-bottom: 3rem;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'AeonikPro-bold';
    color: #002049;
}

.carousel-image-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-image-wrapper img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

button.owl-dot span {
    width: 8px;
    height: 8px;
    background: #bfbfbf;
    display: block;
    border-radius: 50%;
    margin: 0 5px;
}
button.owl-dot.active span {
    background: #002049;
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-nav {
    display: none;
}

@media (max-width:1140px) {
    .hero-module-wrapper h1 {
        font-size: 144px;
        font-family: 'AeonikPro-Light';
    }

    .pan_content h2 {
        font-size: 63px;
    }

    .servicesHome {
        overflow: hidden;
    }

    .servicesHome--container {
        padding: 5rem 2rem 0 !important;
    }

    .nav_menu a.mobile_menu_link {
        font-size: 32px;
        margin-right: 34px;
    }

    .mobile--nav {
        padding-top: 160px;
    }
}

@media (max-width:980px) {
    .hero-module-wrapper h1 {
        font-size: 110px;
        font-family: 'AeonikPro-Light';
    }

    .workHome {
        padding: 0;
    }

    .workHome--container {
        padding: 4rem 2rem;
    }

    .pan_content h2 {
        font-size: 45px;
    }

    .pan_image_wrapper {
        bottom: 0;
        -ms-grid-row: 2;
        grid-row: 2;
        left: -50%;
        min-width: 300px;
        position: relative;
        width: 300%;
    }

    .pan_content {
        margin-bottom: 0;
    }

    .servicesHome {
        padding: 0;
        overflow: hidden;
    }

    .servicesHome--container {
        gap: 0;
            grid-template-areas: ".";
        -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        padding: 5rem 2rem 0 !important;
    }

    .servicesHome--gooseMobile {
        display: block !important;
        height: auto;
        left: -27px;
        margin-left: unset;
        position: relative;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        width: 100%;
        top: 20%;
    }

    .servicesHome--birds {
        margin: 0 auto;
        position: absolute;
        right: 0px;
        top: 57%;
        width: 100%;
        max-width: 400px;
        z-index: 6;
        left: unset;
    }

    .servicesHome--goose {
        right: unset;
        width: 100%;
        position: relative;
        max-width: 1024px;
    }

    .start-poroject h3 {
        font-size: 40px;
    }

    footer p {
        font-size: 14px;
    }

    .nav_menu a.mobile_menu_link {
        font-size: 32px;
        margin-right: 34px;
    }

    .mobile--nav {
        padding-top: 160px;
    }

    .bar1,
    .bar2 {
        width: 50px;
    }

    .nav_menu {
        padding: 16px 25px 8px 16px;
    }
    .team h3 {
        font-size: 34px;
    }
}

@media (max-width:540px) {
    .hero-module-wrapper h1 {
        font-size: 60px;
        font-family: 'AeonikPro-Light';
    }

    .workHome {
        padding: 0;
    }

    .workHome--container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        padding: 4rem 2rem;
    }

    .workHome--container>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .pan_content h2 {
        font-size: 40px;
    }

    .pan_image_wrapper {
        bottom: 0;
        -ms-grid-row: 2;
        grid-row: 2;
        left: 0;
        left: -50%;
        margin-top: 3rem;
        min-width: 300px;
        position: relative;
        width: 155%;
    }

    .workHome--spacer {
        display: none;
    }

    .pan_content {
        margin-bottom: 0;
    }

    .servicesHome {
        padding: 0;
        overflow: hidden;
    }

    .servicesHome--container {
        gap: 0;
            grid-template-areas: ".";
        -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        padding: 5rem 2rem 0 !important;
    }

    .servicesHome--gooseMobile {
        display: block !important;
        height: auto;
        left: -27px;
        margin-left: unset;
        position: relative;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        width: 433px;
        top: 20%;
    }

    .servicesHome--birds {
        height: 209px;
        margin: 0 auto;
        position: absolute;
        right: 0px;
        top: 68%;
        width: 230px;
        z-index: 6;
        left: unset;
    }

    .servicesHome--goose {
        height: 400px;
        right: unset;
        width: 330px;
        position: relative;
    }

    .servicesHome--content h2 {
        font-size: 80px;
    }

    .start-poroject h3 {
        font-size: 40px;
    }

    footer p {
        font-size: 14px;
    }

    .nav_menu a.mobile_menu_link {
        font-size: 32px;
        margin-right: 34px;
    }

    .mobile--nav {
        padding-top: 160px;
    }

    .bar1,
    .bar2 {
        width: 42px;
    }

    .nav_menu {
        padding: 16px 25px 8px 16px;
    }

    .logo_wrapper {
        width: 100px;
    }
}


.scroll_slider body {
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    height: 100vh;
}

.scroll_slider .container {
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.scroll_slider {
    position: relative;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}